<div class="container" id="advanced-search-form">
<ng-container *ngIf= "!crearVenta else formVenta">
  <button type="button" class="btn btn-dark btn-sm" (click)="crearVenta = true">Crear ventas</button>
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>Código de venta</th>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Valor venta</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lstVenta">
        <td>{{ item.codigoVenta }}</td>
        <td>{{ item.fechaVenta.substring(0,10)}}</td>
        <td>{{ item.cliente.nombre }}</td>
        <td>{{ item.valorVenta }}</td>
        <td>
            <button type="button" class="btn btn-dark btn-sm" (click)="detalleVenta(item.detallesVentas, item.codigoVenta)">Detalle</button>
        </td>
      </tr>
    </tbody>
  </table>
  <br>

  <div *ngIf = "mostrarDetalle">
    <button type="button" class="btn btn-dark btn-sm" (click)="mostrarDetalle = false">Ocultar detalle</button>
    <app-detalle-venta [lstDetalle]= detallesVentas [codigo]= codigo_Venta></app-detalle-venta>
  </div>
</ng-container>
<ng-template #formVenta>
    <button type="button" class="btn btn-dark btn-sm" (click)="crearVenta = false">Ver ventas</button>
    <form [formGroup]= "formulario"> 
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Codigo de Venta</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" formControlName="CodigoVenta" [ngClass]="{ 'is-invalid': submitted && f.CodigoVenta.errors }" placeholder="Codigo de Venta">
            <div *ngIf="submitted && f.CodigoVenta.errors" class="invalid-feedback">
              <div *ngIf="f.CodigoVenta.errors.required">El Codigo de Venta es requerido</div>
           </div>
          </div>
        </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Fecha de Venta</label>
            <div class="col-sm-10">
              <input type="date" class="form-control"  formControlName="FechaVenta" [ngClass]="{ 'is-invalid': submitted && f.FechaVenta.errors }" placeholder="Fecha de Venta">
              <div *ngIf="submitted && f.FechaVenta.errors" class="invalid-feedback">
                <div *ngIf="f.FechaVenta.errors.required">La Fecha de Venta es requerida</div>
              </div>
            </div>
           </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Clientes</label>
            <div class="col-sm-10">
              <select class="form-control"formControlName="ClienteId" [ngClass]="{ 'is-invalid': submitted && f.ClienteId.errors }">
             <option *ngFor = "let item of lstClientes; "[value]= "item.id" > {{item.nombre}} </option> 
             </select>
            </div>  
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Productos</label>
            <div class="col-sm-10">
                <select class="form-control"formControlName="ProductoIds" multiple [ngClass] ="{ 'is-invalid': submitted && f.ProductoIds.errors }">
                    <option *ngFor = "let item of lstProductos; "[value]= "item.id" > {{item.nombre}} </option> 
                </select>
             </div>
          </div>
         <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Valor de Venta</label>
            <div class="col-sm-10">
              <input type="number" class="form-control"  formControlName="ValorVenta" [ngClass]="{ 'is-invalid': submitted && f.ValorVenta.errors }" placeholder="Valor de Venta">
              <div *ngIf="submitted && f.ValorVenta.errors" class="invalid-feedback">
                <div *ngIf="f.ValorVenta.errors.required">El Valor de Venta es requerido</div>
              </div>
            </div>
           </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button type= "button" (click)= "AddVenta()" class="btn btn-secondary" >Guardar</button>
                <button type="button" class="btn btn-outline-dark" style="margin-left: 2%;"(click)="resetFormulario()">Cancelar</button>
            </div>
          </div>
      </form>
    </ng-template>
</div>
